.navbar-principal {
  padding: 10px;
  border: 5px solid;
  width: 95%;
  height: fit-content;
  margin: 15px auto;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  justify-content: center;
  justify-items: center;
  border-radius: 10px 0px 10px 0px;
}

.navbar-filset {
  padding: 5px;
  border: 3px solid;
  border-radius: 10px;
  display: grid;
  align-items: center;
  align-content: space-between;
  gap: 5px;
  font-size: 24px;
  font-weight: bold;
}

#especial-button{
  width: 100%;
}